*{ 
	margin: 0;
	padding: 0px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
	bottom: .8em;
}
.class{
	margin-top: 30px;
	margin-left:auto; 
	margin-right:auto;
}
.rowReport{
    display: inline-flex;
    text-align: center;
}
