<!DOCTYPE html>
<html>
	<head>
        <meta charset ="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lecture Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/lecturer.css' %}">
        <link rel="icon" href="{% static 'imgs/nsfas.png' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.0/litera/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"> 
        <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'contact/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    </head>
    <body>
        <nav id="top_header" class="navbar navbar-expand-lg">
            <div class="container-fluid main">
                <a href="{% url 'lecture' %}" style="text-decoration: none;">
                <img class="logo" src="http://127.0.0.1:8000/static/imgs/nsfas.png" alt="Tracking System logo">
                <h5 >NSFAS Tracking <br>   System</h5></a>

                 <!-- Panel-->
                <div class="form-control" class="alert" role="alert" id="panel">
                    {% if user.is_authenticated %}
                        <ul class="list-group list-group-flush" >
                            <data class="form-control" id="full_name">{{ user.name }}</data>
                            <data  class="form-control"  id="email">{{ user.email }} </data>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navigation_bar">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto stud">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'lecture' %}">HOME</a></li>
                        <li class="nav-item" data-turbolinks="false">
                            <a class="nav-link" href="/lecture/new" class="btn btn-primary mb-3">New Session</a>
                        </li>
                    {% endif %}
                </ul> 
                <ul class="navbar-nav me-auto justify-content-end logout">
                    <li class="nav-item">
                        <a class="nav-link external-link" href="https://developer.microsoft.com/graph/docs/concepts/overview" target="_blank">
                            <i class="ms-Icon ms-Icon--NavigateExternalInline mr-1" aria-hidden="true"></i>Docs
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link avatar-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                {% if user.avatar %}
                                    <img src="{{ user.avatar }}" class="rounded-circle align-self-center mr-2" style="width: 32px;">
                                {% else %}
                                    <img src="{% static 'imgs/no-profile-photo.png' %}" class="rounded-circle align-self-center mr-2" style="width: 32px;">
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <h5 class="dropdown-item-text mb-0">{{ user.name }}</h5>
                                <p class="dropdown-item-text text-muted mb-0">{{ user.email }}</p>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Profile</a>
                                <a href="{% url 'signout' %}" class="dropdown-item">Sign Out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'signin' %}" class="nav-link">Sign In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main role="main" class="container">
		{% if errors %}
			{% for error in errors %}
				<div class="alert alert-danger" role="alert">
					<p class="mb-3">{{ error.message }}</p>
					{% if error.debug %}
					  <pre class="alert-pre border bg-light p-2"><code>{{ error.debug }}</code></pre>
					{% endif %}
				</div>
			{% endfor %}
		{% endif %}
		{% block content %}{% endblock %}
        </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>
    </body>
</html>
<!-- </LayoutSnippet> -->
