<!-- <NewEventSnippet> -->
{% extends "layout.html" %}
{% block content %}
    <h3>New event</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Subject</label>
            <input class="form-control" name="ev-subject" type="text">
        </div>
        <div style="margin-left: -15px;" class="form-group col-sm-2" data-validate="Module Code required">
            <label>Module Code: </label>
            <select required="required" class="form-control" name= "ev-code" class="select">
                    <option selected>Choose....</option>
                {% for range in all_modules %}
                    <option  value="{{range.module_code}}">{{range.module_code}}</option>
                {% endfor %}
            </select>
          
        </div>
        <div class="form-group">
            <label>Attendees</label>
            <input class="form-control" name="ev-attendees" type="text"
            placeholder="Separate multiple email addresses with a semicolon (';')">
        </div>
        <div class="form-row">
            <div class="col">
            
                <div class="form-group">
                    <label>Start</label>
                    <input class="form-control" name="ev-start" type="datetime-local">
                </div>
            </div>
            <div class="col">
                
                <div class="form-group">
                    <label>End</label> 
                    <input class="form-control" name="ev-end" type="datetime-local">
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label>Body</label>
            <textarea class="form-control" name="ev-body" rows="3"></textarea>
        </div>
        <input class="btn btn-primary mr-2" type="submit" value="Create" />
        <a class="btn btn-secondary" href="/lecture">Cancel</a>
    </form>
{% endblock %}
  <!-- </NewEventSnippet> -->
