{% extends "nsfas_layout.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.0/litera/bootstrap.min.css">

	<!-- Small Box (Stat card) -->
	<h5 style="margin-bottom:30px;" class="mb-2 mt-4">Dashboard</h5>
	<div class="Dashboard" style="display: inline-flex;">
		<div class="col-lg-6 ml-4">
			<div class="small-box bg-info">
				<div class="inner">
                    <h3>5</h3>
					<p>Attendance <br> Register</p>
				</div>
				<div class="icon">
					<i class="fas fa-clipboard-list"></i>
				</div>
				<a href="/nsfas/attendance_reg" class="small-box-footer">
					More info <i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
        
        <div class="col-lg-6 ml-4">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{has_NSFAS}}</h3>
                    <p>Total Funded Students</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
                <a href="display_stud_data/?filter=funded" class="small-box-footer">
                    More info <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-6 ml-4" >
            <div class="small-box bg-secondary">
                <div class="inner">
                    <h3>{{no_NSFAS}}</h3>
                    <p>Total Unfunded Students</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
                <a href="display_stud_data/?filter=no_funded" class="small-box-footer">
                    More info <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    
    <div class="col ml-4 mt-4" style="width: 320px;">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{login_count}}</h3>
                <p>Total Students Registered</p> 
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <a href="{% url 'display_login_details' %}" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a> 
        </div>
    </div>
{% endblock %}