
<div id="exampleModalPopovers" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalPopoversLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalPopoversLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">
                    Student no: {{ student.student_num }}
                </div>

                <div class="">
                    Student Email: {{ student.stud_email }}
                </div>

                <div class="">
                    First Name: {{ student.stud_first_name }}
                </div>

                <div class="">
                    Last Name: {{ student.stud_last_name }}
                </div>

                <div class="">
                    Course Code: {{ student.course_code }}
                </div>

                <div class="">
                    NSFAS Status: {{ student.nsfas_status }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>