{% extends "nsfas_layout.html" %}
{% block content %}
    {% load static %}
	<link rel="icon" href="{% static 'imgs/register.png' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.0/litera/bootstrap.min.css">
   
	<section style="border-bottom: .2em solid grey; margin-bottom: 15px;" class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h3 class="card-title">UPDATE STUDENT NSFAS STATUS</h3>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="{% url 'nsfas' %}">Home</a></li>
						<li class="breadcrumb-item"><a href="{% url 'display_stud_data' %}">View student status</a></li>
						<li class="breadcrumb-item active">Update Student Status</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<!-- multistep form -->
	<div class="login">
        <div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
				{% include '_messages.html' %}
					<div class="card">
						<div class="card-header"></div>
							<div class="card-body">
								<form method='POST' action="">
									{% csrf_token %}
										
									<div class="form-group">
										<label class="text-info">Student number:</label>
										<input type="student_num" name="student_num" readonly class="form-control"
											value="{{stud.student_num}}">
									</div> 
										
									<div class=" form-group">
										<label class="text-info">Email:</label>
										<input type="text" name="stud_email" readonly class="form-control"
											value="{{stud.stud_email}}"/>
									</div>

									<div class="form-group">
										<label class="text-info">First Name:</label>
										<input type="text" name="stud_first_name" readonly class="form-control"
											value="{{stud.stud_first_name}}"/>
									</div>

									<div class="form-group">
										<label class="text-info">Last name:</label>
										<input type="text" name="stud_last_name" class="form-control" readonly 
											value="{{stud.stud_last_name}}"/>
									</div>

									<div class=row>
										<div class="col-md-4">
											<div class="form-group">
												<label class="text-info">Course Code:</label>
												<input type="text" name="course_code" class="form-control" readonly 
													value="{{stud.course_code}}"/>
											</div>
										</div>
										<div class="col-md-4">	
											<div class="form-group">
												<label class="text-info">NSFAS Status:</label>
												<select type="text" required class="form-control" name="nsfas_status" class="select">
													<option selected>Choose....</option>	
													<option  value="N">N</option>
													<option  value="Y">Y</option>
												</select>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-8">
											<button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
												Submit
											</button>
										</div>
										<div class="col-md-4">
											<a href="{% url 'display_stud_data' %}" class="btn btn-secondary btn-block btn-lg">
												<i class="fas fa-stream"></i> Black to list
											</a>
										</div>
									</div>	
								</form> 
							</div>
						</div>	
					</div>
				</div>	
			</div>
		</div>
	</div>		
{% endblock %}