{% extends "Authenticate/base_password.html" %}
{% block content %}
    <div class="container ">     
        <div class="card">
            <div class="card-header">
                <h5>Please enter your email to reset link</h5> 
                {% include '_messages.html' %}
            </div>
            <div class="card-body">
                <form class="contact100-form validate-form" action="" method="POST">
                    {% csrf_token %}
                    <div class="wrap-input100 validate-input" data-validate = "Valid email address is required: xyz@abc.com">
                        <span class="label-input100"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></span>
                        <input class="input100" size:"50" type="text" name="email" placeholder="Enter email address" value="{{data.email}}">
                        <span class="focus-input100"></span>
                    </div>
                       
                    <div class="container-contact100-form-btn">
                        <button type="submit" class="contact100-form-btn">
                            <span>Password reset<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="container">
                    <span class="text-lead lead"></span>Don't have an account?:<a href="{% url 'register' %}"> Register here</a><br>
                    <span class="text-lead lead"></span>Have already registered :<a href="{% url 'stud_login' %}"> Sign In</a><br>        
                </div>
            </div>	
        </div>
    </div>
{% endblock %}